
<div class="sa4d25">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-9 col-lg-8">

        <!-- =================      start course section ========================= -->
        <div class="section3125">
          <h4 class="item_title">Live Streams</h4>
          <a href="live_streams.html" class="see150">See all</a>
          <div class="la5lo1">
                <div class="live_stream owl-theme">
                  <app-live-stream></app-live-stream>
                </div>
          </div>
        </div>
        <!-- ====================end course section =============================== -->


        <!-- =========   start featured course ======================-->
        <div class="section3125 mt-50">
          <h4 class="item_title">Featured Courses</h4>
          <a href="#" class="see150">See all</a>
          <div class="la5lo1">
            <div class="featured_courses owl-theme">
              <app-course></app-course>
            </div>
          </div>
        </div>
        <!-- =========   end featured course ======================-->


        <!-- ===========   start newest course =========================== -->
        <div class="section3125 mt-30">
          <h4 class="item_title">Newest Courses</h4>
          <a href="#" class="see150">See all</a>
          <div class="la5lo1">
            <div class="featured_courses owl-theme">
              <app-course></app-course>
            </div>
          </div>
        </div>
        <!-- ===========   end newest course =========================== -->


        <!-- ============== start section3136   =========================== -->
        <div class="section3126">
          <div class="row">
              <div class="col-xl-6 col-lg-12 col-md-6">
                <div class="value_props">
                  <div class="value_icon">
                    <i class='uil uil-history'></i>
                  </div>
                  <div class="value_content">
                    <h4>Go at your own pace</h4>
                    <p>Enjoy lifetime access to courses on Edututs+'s website</p>
                  </div>
                </div>
              </div>
              <div class="col-xl-6 col-lg-12 col-md-6">
                <div class="value_props">
                  <div class="value_icon">
                    <i class='uil uil-user-check'></i>
                  </div>
                  <div class="value_content">
                    <h4>Learn from industry experts</h4>
                    <p>Select from top instructors around the world</p>
                  </div>
                </div>
              </div>
              <div class="col-xl-6 col-lg-12 col-md-6">
                <div class="value_props">
                  <div class="value_icon">
                    <i class='uil uil-play-circle'></i>
                  </div>
                  <div class="value_content">
                    <h4>Find video courses on almost any topic</h4>
                    <p>Build your library for your career and personal growth</p>
                  </div>
                </div>
              </div>
              <div class="col-xl-6 col-lg-12 col-md-6">
                <div class="value_props">
                  <div class="value_icon">
                    <i class='uil uil-presentation-play'></i>
                  </div>
                  <div class="value_content">
                    <h4>100,000 online courses</h4>
                    <p>Explore a variety of fresh topics</p>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <!--==========   end section 3136            ============================================================== -->

        <!-- ============   start instructor ============================================================== -->
        <div class="section3125 mt-50">
            <h4 class="item_title">Popular Instructors</h4>
            <a href="all_instructor.html" class="see150">See all</a>
            <div class="la5lo1">
              <div class="top_instrutors owl-theme">
                <app-instructor></app-instructor>
              </div>
            </div>
          </div>
        </div>
        <!-- ==============  end instructor====================================== -->


        <!-- ========= start right side ========================================== -->
        <div class="col-xl-3 col-lg-4">
          <div class="right_side">
            <app-right-content></app-right-content>
          </div>
        </div>
        <!-- =========  end right side =========================================== -->


        <!-- start students say =================================================== -->
        <div class="col-xl-12 col-lg-12">
          <h4 class="item_title">What Our Student Have Today</h4>
          <div class="la5lo1">
            <div class="Student_says owl-theme">
              <app-students-say></app-students-say>
            </div>
          </div>
        </div>
        <!--  end students say =================================================== -->


      </div>
    </div>
</div>

