<owl-carousel-o [options]="customOptions">
  <ng-container *ngFor="let course of courses">
    <ng-template carouselSlide [id]="course.id">
      <div class="item">
        <div class="fcrse_1 mb-20">
          <a href="#" class="fcrse_img">
            <img [src]="course.imageUrl" [alt]="course.title">
            <div class="course-overlay">
              <div class="badge_seller">{{course.badgeSeller}}</div>
              <div class="crse_reviews">
                <i class='uil uil-star'></i>{{course.reviewCount}}
              </div>
              <span class="play_btn1"><i class="uil uil-play"></i></span>
              <div class="crse_timer">
                50 hours
              </div>
            </div>
          </a>
          <div class="fcrse_content">
            <div class="eps_dots more_dropdown">
              <a href="#"><i class='uil uil-ellipsis-v'></i></a>
              <div class="dropdown-content">
                <span><i class='uil uil-share-alt'></i>Share</span>
                <span><i class="uil uil-heart"></i>Save</span>
                <span><i class='uil uil-ban'></i>Not Interested</span>
                <span><i class="uil uil-windsock"></i>Report</span>
               </div>
            </div>
            <div class="vdtodt">
              <span class="vdt14">{{course.viewCount}} views</span>
              <span class="vdt14">{{(course.createdTime)}}</span>
            </div>
            <a [routerLink]="['/course',course.id,'details']" class="crse14s">{{course.title}}</a>
            <a href="#" class="crse-cate">{{course.category.name}}</a>
            <div class="auth1lnkprce">
              <p class="cr1fot">By <a href="#">John Doe</a></p>
              <div class="prce142">{{course.price | currency : 'USD'}}</div>
              <button class="shrt-cart-btn" title="cart"><i class="uil uil-shopping-cart-alt"></i></button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ng-container>
</owl-carousel-o>
